.projetos2{
    display: flex;
    flex-direction: column;
    
}
.listaprojetos{
    justify-content: center;

    display: flex;
}
.container{
    width: 300px !important; 
}
.listaprojetos{
    height: 2700px ;
}


